* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #3e85d7;
}

.container {
    max-width: 1024px;
    padding: 16px;
    margin: auto;
}

header, 
footer {
    text-align: center;
    padding: 16px;
    color: white;
}

#form {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

#txtano {
    width: 180px;
    margin-bottom: 10px;
}

#sexo {
    margin: 10px 0;
}

button {
    width: fit-content;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: #3e85d7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    opacity: 0.9;
}

#foto {
    height: auto;
    width: min(250px, 70%);
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: center top;
}